* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.smspacer {
  padding-top: 2em;
}
.lgspacer {
  padding-top: 5em;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}

/*-------- NAVIGATION BAR --------*/

.navigation ul {
  list-style-type: none;
  padding-right: 10em;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #9e9e9e;
}

.navigation li a:hover:not(.active) {
  color: black;
}

/*-------- HERO CONTENT --------*/

.hero-container {
  display: flex;
  padding: 2em;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  width: auto;
  padding: 0px 50px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #021718;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

#introtext {
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 1em;
}

/*-------- FOOTER --------*/

.figcap {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #6a6a6a;
}
