@media screen and (min-width:1200px){
    section ul{
        margin-left: 4rem;
    }

    .box_content{
        padding: 67.5px;
    }
}

@media screen and (max-width:992px){
    section.projects .margin_fix{
        margin-left: -30px;
    }

    section.introduction{
        padding: 100px 0;
    }
}

@media screen and (max-width:768px){
    nav.desktop_nav{
        display: none;
    }

    header nav.mobile_nav{
        display: block;
    }

    .contact_icons{
        justify-content: center;
        width: 100%;
    }

    section.projects{
        padding: 50px 0;
    }

    section.introduction h1{
        font-size: 52px;
    }

    section.projects h2{
        font-size: 52px;
    }

    section.about h2{
        font-size: 52px;
    }

    section.about{
        padding: 60px 0;
    }
}

@media screen and (max-width:500px){
    section.banner{
        padding: 60px 0;
    }

    section.introduction h1{
        font-size: 38px;
    }

    section.projects h2{
        font-size: 38px;
    }

    section.about h2{
        font-size: 38px;
    }
}
