@media screen and (min-width:1200px){
    section ul{
        margin-left: 4rem;
    }

    .border__radius__fix{
        border-radius: 45px;
    }
}

@media screen and (min-width:992px){
    .border__radius__fix{
        border-radius: 40px;
    }
}

@media screen and (max-width:992px){
    section.projects .margin_fix{
        margin-left: -30px;
    }

    section.introduction{
        padding: 100px 0;
    }

    .border__radius__fix{
        border-radius: 50px;
    }
}

@media screen and (max-width:768px){
    nav.desktop_nav{
        display: none;
    }

    header nav.mobile_nav{
        display: block;
    }

    .contact_icons{
        justify-content: center;
        width: 100%;
        margin-top: 18px;
    }

    section.projects{
        padding: 50px 0;
    }

    section.introduction h1{
        font-size: 52px;
    }

    section.projects h2{
        font-size: 52px;
    }

    section.about h2{
        font-size: 52px;
    }

    section.about{
        padding: 60px 0;
    }

    .container-lg{
        padding-right: 2em;
        padding-left: 2em;
    }

    .box_content{
        padding: 3rem 1rem;
    }

    .border__radius__fix{
        border-radius: 40px;
    }
}

@media screen and (max-width:500px){
    section.banner{
        padding: 60px 0;
    }

    section.introduction h1{
        font-size: 38px;
    }

    section.projects h2{
        font-size: 38px;
    }

    section.about h2{
        font-size: 38px;
    }

    .container-lg{
        padding: 0 3%;
    }

    section h3{
        font-size: 35px;
    }

    .border__radius__fix{
        border-radius: 40px;
    }
}

@media screen and (max-width:440px){
    .border__radius__fix{
        border-radius: 30px;
    }
}
